/* Variabili per temi light e dark */
html{
    --body-bg: #f5f5f5;
    --p-color: #000;
    --nav-link-color : #1d69cb; 
    --title-color: #1d69cb;
    --link-color: #1d69cb;
    --link-hover-color: #000;
    --container-bg: #ffffff;
    --button-default-bg : #ffc100;
    --button-default-text : #000;
    --button-default-bg-hover : #ffd519;
    --button-navuser-bg:#004064;
    --button-navuser-text : #000000;
    --button-navuser-bg-hover: #d3d3d3;
    --card-box-shadow : #85858530;
    --input-border-color: #c8c8c8;
    --price-color : #3d9430;
}

html.dark{
    --body-bg : #1b1b1b;
    --p-color : #f3f3f3;
    --title-color: #bbd9ff;
    --button-default-text: #f3f3f3;
    --button-default-bg : #0065e9;
    --button-default-bg-hover : #0046a1;
    --button-navuser-bg:#004064;
    --button-navuser-text : #fff;
    --button-navuser-bg-hover: #272727;
    --link-color: #ffc100;
    --link-hover-color: #ffffff;
    --card-bg: #2b2b2b;
    --card-box-shadow : #151515;
    --input-border-color : #2f84f1; 
    --price : #6bcc5d;
}

/*Tutti gli elementi */
*{
    box-sizing: border-box;
    font-family: inherit;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Tipografia */

h1,h2,h3,h4,h5,h6{
    color: var(--title-color);
    margin: 1.3rem 0;
}

h1{
    font-size: 2rem;
}

p, ul li, strong, i{
    color: var(--p-color);
}

.price{
    margin: 1.3rem 0.4rem;
    font-size: 25px!important;
    color: var(--price);
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a.link{
    color: var(--link-color);
}

a.link:hover, a.link:focus{
    color: var(--link-hover-color);
}

del, .delete {
    color: #de001e;
}

.delete:hover{
    color: #a50016;
}

.notice{
    padding: 15px 25px;
    color: #000;
    border-radius: 7px;
    background-color: #ffc100;
    width: fit-content;
    width: -moz-fit-content;
}

.delete, button, a.link{
    cursor: pointer;
}

button.default-btn, .delete, nav#main-menu ul li a.nav-link{
    font-weight: 700;
    text-transform: uppercase;
}

/* Elementi di base (pulsanti, textbox, tabelle, celle ecc.)*/

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--body-bg);
    font-family: 'Ubuntu', sans-serif;
}


article{
    padding: 30px 0;
}
section#page-content{
    margin-top: 67px;
    padding: 40px 0;
}

header#masthead{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    height: auto;
    background-color: var(--container-bg);
    box-shadow: 0px 2px 3px #00000026;
}

.divider{
    width: 1px;
    height: 40px;
    margin: 0 20px;
    background-color: #d6d6d6;
}

/*Site logo*/
#site-logo-header{
    width: 110px;
}


/*Main nav-bar*/
nav#main-menu{
    margin-top: 2px;
}

nav#main-menu ul, footer ul.footer-links{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav#main-menu ul li, footer ul.footer-links li{
    display: inline-block;
    padding: 8px;
}

nav#main-menu ul li a.nav-link{
    font-size: 1rem;
    color: #22303b;
}

nav#main-menu ul li a.nav-link:hover, nav#main-menu ul li a.nav-link:focus{
    color: #ffc100;
    text-decoration: none;
}

nav#main-menu ul li a.nav-link::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color:#ffc100;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

nav#main-menu ul li a.nav-link:hover::after,  nav#main-menu ul li a.nav-link:focus::after{
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

a.login:hover, a.login:focus{
    color: #ffc100;
    text-decoration: none;
}

a.login:hover span, a.login:focus span{
    color: inherit;
}

a.login span{
    color: #22303b;
    text-decoration: none;
    padding-left: 5px;
}

#masthead .link-icon svg{
    width: 25px;
    fill:#22303b;
}

#masthead .link-icon:hover svg, #masthead .link-icon:focus svg, #theme-toggle.clicked.link-icon svg{
    fill: #ffc100;
}
/* Pulsanti */
button.default-btn{
    padding: 12px 35px;
    margin: 10px;
    font-size: 1em;
    color: var(--button-default-text);
    border: none;
    border-radius: 30px;
    background-color: var(--button-default-bg);
}

button:hover, button:focus{
    background-color: var(--button-default-bg-hover);
}

button.user-nav-btn{
    width: 100%;
    padding: 15px 25px;
    padding-left: 15px;
    font-size: 1em;
    text-align: left;
    border-radius: 7px;
    border: none;
    color: var(--button-navuser-text);
    background-color: transparent;
}

button.user-nav-btn:hover, button.user-nav-btn:focus{
    background-color: var(--button-navuser-bg-hover);
}

button.user-nav-btn.active{
    color: #fff;
    background-color: var(--button-navuser-bg);
}

/* Input area */
input[type="text"], #user-section input[type="date"],input[type=password], select{
    height: 46px;
    font-size: 1.1rem;
    padding: 8px 10px;
    border: 2px solid var(--input-border-color);
    border-radius: 7px;
}

#input-credit-card{
    margin: 5px;
}

#input-credit-card input[type="text"]{
    text-align: center;
}

input[type="text"]#card-number-area, input[type="text"]#card-security-code{
    border-radius: 0 5px 5px 0;
}

.card-logo-area{
    display: inline-block;
    height: 46px;
    background-color: #fff;
    border: 2px solid var(--input-border-color);
    padding: 5px 10px;
}

#credit-card-number, #credit-card-info{
    margin: 10px 5px;
}

.card-logo-area, #card-expiration-date{
    border-right: none;   
    border-radius: 5px 0 0 5px;
}

.card{
    display: block;
    position: relative;
    height: auto;
    padding: 15px 15px;
    z-index: 99;
    background-color: var(--card-bg);
}

/* Layouts */
.col-3{
    max-width: 33.3%;
}

.flex-rows{
    display: flex;
    flex-direction: row;
}

.flex-columns{
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: block;
}

.overlay-content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    background-color: #000000ab;
}

#masthead .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#masthead div{
    display: inherit;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

aside#user-nav{
    display: inline-block;
    padding: 25px 0;
}

aside#user-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside#user-nav ul li{
    margin: 5px 0;
}

.user-nav-separator{
    display: inline-block;
    width: 1px;
    height: 50vh;
    margin: 0 80px;
    background-color: var(--p-color);
}

section#user-section{
    display: inline-block;
}

#page-content{
    margin-top: 80px;
}

footer{
    margin-top: 50px;
    padding: 50px;
    background-color:#22303b;
}

footer img{
    width: 180px;
}

footer ul.footer-links{
    margin: 1.3rem 0;
}

footer ul.footer-links li{
    padding: 40px 30px;
}

footer ul.footer-links li a, footer .site-info h4{
    color: #fff;
    margin: 0;
}

footer ul.footer-links li a:hover{
    color: #ffc100;
    transform: scale(1.1);
    text-decoration: none;
}

/*Stile Alex*/

.event-list{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    
}
.event{
    padding-right: 40px;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
    box-shadow: 0px 0px 3px 3px var(--card-box-shadow);
    border-radius: 15px;
    margin: 10px 0;
}

.event div {
    display: inherit;
}

.event .event-info{
    justify-content: center;
    margin-left: 20px;
}

.event .event-info h2,.event .event-info h4{
    margin: 10px 0;
    color: var(--p-color);
}

.img-event{
    width: 250px;
    height: 170px;
    border-radius: 15px 0 0 15px;
    border: 2px solid grey;
}

.title-section{
    color: #1d69cb;
    width: fit-content;
    width: -moz-fit-content;
}

.title-section:after{
    content: "";
    display: block;
    position: relative;
    width: 50%;
    height: 3px;
    background-color: #1d69cb;
}

.cover-page{
    height: 350px;
    width: 100%;
    margin-bottom: 50px;
}

.content-cover h2{
    font-size: 2.5rem;
    color:#bbd9ff;
}

.content-cover h4, .content-cover h3{
    color: #fff;
}

/* Style Lollo*/
.container{
    padding-top: 100px;
}
.user{
    padding-top: 100px;
}
section#user-section{
    flex: content;
}
.eventi-acquistati{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    
}
.eventi{
    padding: 30px 0;
    border: 1px solid grey;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
.lista{
    display: block;
    list-style-type: none;
    initial-letter-align: left;
    
}

.elem-list{
    display: inline;
}
.img-event-lollo{
    margin-left: 25px;
    width: 200px;
    height: 100px;
    border: 2px solid grey;
    padding: 10px 0;
}
.caratt-evento{
    justify-content: space-between;
    margin-right: 400px;
    width: 250px;
    height: 140px;
    padding: 10px 0;
}

.dati-utente{
    margin-right: 100px;
    width: 250px;
    height: 140px;
    padding: 10px 0;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 2% auto;
    width: 750px;
    grid-gap: 10px;
}

.container-grid > div {
    overflow: hidden;
    height: 150px;
    border: 1px solid;
}

.faces  {
    padding: 40px 40px;
    background-color: brown;
}

.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.event-nav-separator{
    display: inline-block;
    width: 1250px;
    height: 1px;
    margin: 0 40px;
    background-color: var(--p-color);
}
.info-nav-separator{
    display: inline-block;
    width: 1px;
    height: 100px;
    margin: 0 40px;
    background-color: var(--p-color);
}

nav#event-nav{
    display: inline-block;
    position: relative;
    padding: 25px 0;
}
nav#event-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav#event-nav ul li{
    display: inline-block;
}

.info-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-nav-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

#cover-img{
    width: 100%;
    height: 350px;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}


/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.question-box h2, .question svg{
    display: inline-block;
}

.question-box{
    justify-content: space-between;
}

.card-faq{
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--card-box-shadow);
    padding: 5px 30px;
    background-color: var(--card-bg);
}

.card-faq .question-box svg{
    width: 30px;
}

.card-faq .question-box, .card-faq .answer-box{
    border-radius: 10px;
}

/*inventati*/

.wrap-input {
    width: 100%;
    position: relative;
    background-color: transparent;

  }
  
  .contact-form input[type="file"]{
      font-size: 1rem;
  }
  .contact-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-form input, .contact-form select{
      width:100%;
  }

  .wrap-input textarea{
      resize : none;
  }
  .wrap-input{
    margin: 0 10px;
  }

  .wrap-input label{
      display: block;
      margin: 5px 0;
      color: var(--p-color);
  }

  .multiple-input{
      display: flex;
  }

  .multiple-input, .single-input{
      margin: 10px 0;
  }

  .errors {
	color: #e40909;
    font-size: 12px;
}
ol#faq-list li{
    margin: 60px 0;
}

ol#faq-list li::marker{
    font-size: 1.6rem;
    color: red;
    font-weight: 800;
}
/* Alex */
.login-container{
    display: flex;
   padding: 100px ;
   justify-content: center;
   
}
.login-form{
    background-color: white;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 150px 50px;
    display: inherit;
    flex-direction: column;
  
    align-items: center;
}


.login-btn{
    margin-left: 40px;
    border-radius: 20px;
	border: 1px solid #22303b;
	background-color: #22303b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}
.login-btn:active {
	transform: scale(0.95);
}

#user-nav .user-nav-link.clicked{
    background-color: red;
}
#user-section .form.actived{
    display: block;
}
#user-section .form{
    display: none;
}