.pagamento-line{
    display: inline-block;
    width: 100vh;
    height: 1px;
    margin: 0 40px;
    background-color: var(--p-color);
}
.contienitutto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px;
}

.acquisto-confermato{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
    margin: 20px;
}



